In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importing the dataset

In [2]:

data_test = pd.read_csv('D:\\Dataset\\Participants_Data_Used_Cars\\test.csv')
data_train = pd.read_csv('D:\\Dataset\\Participants_Data_Used_Cars\\Train.csv')


data = pd.concat([data_train,data_test],axis=0,sort=False)
data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [3]:
data.shape

(7253, 13)

In [4]:
data_test.shape,data_train.shape

((1234, 12), (6019, 13))

In [5]:
a=np.arange(1,7254)
data=data.set_index(a)

# checking missing values

In [6]:
data.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                  46
Seats                  53
New_Price            6247
Price                1234
dtype: int64

In [7]:
#converting purchased Year into number of year car is used
data['Age']=2019-data['Year']

In [8]:
data.drop('New_Price',axis=1,inplace=True) # New_price has more than 50% of missing values
data.drop('Price',axis=1,inplace=True)      # price is out dependent variable 
data.drop('Year',axis=1,inplace=True)

data.head()

,Name,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Age
1,Maruti Wagon R LXI CNG,Mumbai,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,9
2,Hyundai Creta 1.6 CRDi SX Option,Pune,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4
3,Honda Jazz V,Chennai,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8
4,Maruti Ertiga VDI,Chennai,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,7
5,Audi A4 New 2.0 TDI Multitronic,Coimbatore,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,6

In [9]:
data.replace('null bhp',np.nan,inplace=True)

In [10]:
data.isnull().sum()

Name                   0
Location               0
Kilometers_Driven      0
Fuel_Type              0
Transmission           0
Owner_Type             0
Mileage                2
Engine                46
Power                175
Seats                 53
Age                    0
dtype: int64

In [11]:
# new data frame with split value columns 

new = data["Name"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
data["Brand_Name"]= new[0] 
  
# making separate last name column from new data frame 
data["Model_name"]= new[1] 
data.drop('Name',axis=1,inplace=True)
  
data.head()

,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Age,Brand_Name,Model_name
1,Mumbai,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,9,Maruti,Wagon R LXI CNG
2,Pune,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8,Honda,Jazz V
4,Chennai,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,7,Maruti,Ertiga VDI
5,Coimbatore,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,6,Audi,A4 New 2.0 TDI Multitronic

In [12]:
#removing suffix
   

# new data frame with split value columns 
new = data["Mileage"].str.split(" ", n = 0, expand = True) 
new1 = data['Engine'].str.split(" ",n=0,expand=True)
new2 = data['Power'].str.split(" ",n=0,expand=True)
# making separate first name column from new data frame 
data["Mileage"]= new[0]  
data['Engine']=new1[0]
data['Power']=new2[0]

data.head()

,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Age,Brand_Name,Model_name
1,Mumbai,72000,CNG,Manual,First,26.6,998,58.16,5.0,9,Maruti,Wagon R LXI CNG
2,Pune,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,4,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,46000,Petrol,Manual,First,18.2,1199,88.7,5.0,8,Honda,Jazz V
4,Chennai,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,7,Maruti,Ertiga VDI
5,Coimbatore,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,6,Audi,A4 New 2.0 TDI Multitronic

In [13]:
data.isnull().sum()

Location               0
Kilometers_Driven      0
Fuel_Type              0
Transmission           0
Owner_Type             0
Mileage                2
Engine                46
Power                175
Seats                 53
Age                    0
Brand_Name             0
Model_name             0
dtype: int64

In [14]:
#above three feature have converted into strings so will have to convert them back into float

In [15]:
data["Mileage"]=data["Mileage"].astype(float)
data["Engine"]=data["Engine"].astype(float)
data["Power"]=data["Power"].astype(float)

# Missing value treatment

In [16]:
data['Mileage'].mean()

18.14158047165911

In [17]:
int(data['Engine'].mean())

1616

In [18]:
int(data['Seats'].mean())

5

In [19]:
data['Power'].mean()

112.76521404351419

In [20]:
data['Power'].fillna(data['Power'].mean(),inplace=True)
data['Engine'].fillna(int(data['Engine'].mean()),inplace=True)
data['Mileage'].fillna(data['Mileage'].mean(),inplace=True)
data['Seats'].fillna(int(data['Seats'].mean()),inplace=True)

In [21]:
data.isnull().sum()

Location             0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Age                  0
Brand_Name           0
Model_name           0
dtype: int64

In [22]:
data.head()

,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Age,Brand_Name,Model_name
1,Mumbai,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,9,Maruti,Wagon R LXI CNG
2,Pune,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,4,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,8,Honda,Jazz V
4,Chennai,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,7,Maruti,Ertiga VDI
5,Coimbatore,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,6,Audi,A4 New 2.0 TDI Multitronic

In [23]:
data['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [24]:
#Owner type is in categorical form but it should be in order


data['Owner_Type'] = data['Owner_Type'].astype('category',categories=['Fourth & Above','Third','Second','First'],ordered=True).cat.codes

C:\Users\mukul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3325: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
data['Owner_Type'].unique()

array([3, 2, 0, 1], dtype=int64)

In [26]:
data.head()

,Location,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Age,Brand_Name,Model_name
1,Mumbai,72000,CNG,Manual,3,26.60,998.0,58.16,5.0,9,Maruti,Wagon R LXI CNG
2,Pune,41000,Diesel,Manual,3,19.67,1582.0,126.20,5.0,4,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,46000,Petrol,Manual,3,18.20,1199.0,88.70,5.0,8,Honda,Jazz V
4,Chennai,87000,Diesel,Manual,3,20.77,1248.0,88.76,7.0,7,Maruti,Ertiga VDI
5,Coimbatore,40670,Diesel,Automatic,2,15.20,1968.0,140.80,5.0,6,Audi,A4 New 2.0 TDI Multitronic

In [27]:
#list of categorical features
d=list(data.loc[:,data.dtypes=='object'].columns.values)
d

['Location', 'Fuel_Type', 'Transmission', 'Brand_Name', 'Model_name']

In [28]:
data_test.shape,data_train.shape

((1234, 12), (6019, 13))

In [29]:
data1=pd.get_dummies(data,columns=['Brand_Name','Model_name','Location','Fuel_Type','Transmission'],drop_first=True)
data1.shape

(7253, 2094)

In [30]:
data1=data1.drop(['Engine','Kilometers_Driven','Mileage','Owner_Type'],axis=1)

In [31]:
X_train = data1[:len(data_train)]
y_train = data_train.iloc[:,-1]
X_test=data1[len(data_train):]

# Model Training

In [32]:
from sklearn.ensemble import RandomForestRegressor
a=RandomForestRegressor(n_estimators=50)
a.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=50,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

# Prediction

In [33]:
y_pred=a.predict(X_test).round(2)