In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# importing the dataset

In [120]:

data_test = pd.read_csv('D:\\Dataset\\Participants_Data_Used_Cars\\test.csv')
data_train = pd.read_csv('D:\\Dataset\\Participants_Data_Used_Cars\\Train.csv')


data = pd.concat([data_train,data_test],axis=0,sort=False)
data_train

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49
12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60
13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN,27.00
14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN,17.50
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,5.40
17,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,NaN,5.99
18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,NaN,6.34
19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,NaN,28.00
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
21,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,NaN,8.25
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,NaN,23.50
23,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN,1.87
24,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,NaN,2.85
25,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.25
26,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,4.25
27,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,NaN,2.75
28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh,9.90
29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,Diesel,Automatic,Second,18.25 kmpl,1968 CC,187.74 bhp,5.0,53.14 Lakh,16.52
5990,Tata New Safari DICOR 2.2 VX 4x2,Pune,2008,86000,Diesel,Manual,Third,13.93 kmpl,2179 CC,138 bhp,7.0,NaN,0.60
5991,Maruti Swift VDI,Hyderabad,2012,68238,Diesel,Manual,First,22.9 kmpl,1248 CC,74 bhp,5.0,NaN,4.80
5992,Skoda Superb Elegance 1.8 TSI AT,Mumbai,2011,42036,Petrol,Automatic,First,13.7 kmpl,1798 CC,157.75 bhp,5.0,NaN,6.25
5993,Hyundai Elantra SX,Mumbai,2014,55619,Petrol,Manual,First,16.3 kmpl,1797 CC,147.5 bhp,5.0,NaN,8.30
5994,Honda City 1.5 E MT,Pune,2009,60000,Petrol,Manual,Third,17.0 kmpl,1497 CC,118 bhp,5.0,NaN,3.25
5995,Renault Duster 85PS Diesel RxL Explore,Pune,2015,30000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,5.0,NaN,7.75
5996,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,Diesel,Automatic,First,16.36 kmpl,2179 CC,187.7 bhp,5.0,NaN,30.54
5997,Maruti Wagon R Duo Lxi,Jaipur,2010,70000,LPG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.0,NaN,2.27
5998,Volkswagen Polo IPL II 1.2 Petrol Highline,Pune,2010,70290,Petrol,Manual,Second,17.24 kmpl,1198 CC,73.9 bhp,5.0,NaN,2.96
5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
6000,Hyundai i20 Sportz 1.2,Bangalore,2014,68010,Petrol,Manual,Second,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN,5.25
6001,Audi A6 2011-2015 2.0 TDI,Kochi,2013,91903,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,NaN,17.56
6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
6003,Maruti Celerio VXI,Bangalore,2015,67600,Petrol,Manual,First,23.1 kmpl,998 CC,67.04 bhp,5.0,NaN,4.00
6004,Hyundai Getz GLE,Coimbatore,2007,66800,Petrol,Manual,First,15.3 kmpl,1341 CC,83 bhp,5.0,NaN,2.20
6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
6006,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,Diesel,Automatic,First,8.7 kmpl,2987 CC,224.34 bhp,5.0,NaN,10.75
6007,Maruti Swift Dzire Vdi BSIV,Delhi,2011,68000,Diesel,Manual,First,19.3 kmpl,1248 CC,73.9 bhp,5.0,NaN,2.75
6008,Porsche Panamera Diesel,Hyderabad,2013,40000,Diesel,Automatic,Second,17.85 kmpl,2967 CC,300 bhp,4.0,NaN,45.00
6009,Toyota Camry Hybrid,Mumbai,2015,33500,Petrol,Automatic,First,19.16 kmpl,2494 CC,158.2 bhp,5.0,NaN,19.75
6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
6011,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,Petrol,Automatic,First,0.0 kmpl,3597 CC,262.6 bhp,5.0,NaN,4.75
6012,Toyota Innova 2.5 V Diesel 7-seater,Coimbatore,2011,45004,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,9.48
6013,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,4.83
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [121]:
data.shape

(7253, 13)

In [122]:
data_test.shape,data_train.shape

((1234, 12), (6019, 13))

In [123]:
a=np.arange(1,7254)
data=data.set_index(a)

# checking missing values

In [ ]:
data.isnull().sum()

In [124]:
data.drop('New_Price',axis=1,inplace=True) # New_price has more than 50% of missing values
data.drop('Price',axis=1,inplace=True)      # price is out dependent variable 

data.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
1,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0
2,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0
3,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0
4,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0
5,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0

In [126]:

data.replace('null bhp',np.nan,inplace=True)

In [127]:
data.isnull().sum()

Name                   0
Location               0
Year                   0
Kilometers_Driven      0
Fuel_Type              0
Transmission           0
Owner_Type             0
Mileage                2
Engine                46
Power                175
Seats                 53
dtype: int64

In [128]:
   

# new data frame with split value columns 

new = data["Name"].str.split(" ", n = 1, expand = True) 
  
# making separate first name column from new data frame 
data["Brand_Name"]= new[0] 
  
# making separate last name column from new data frame 
data["Model_name"]= new[1] 
data.drop('Name',axis=1,inplace=True)
  
  
# df display 
data

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Brand_Name,Model_name
1,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,Maruti,Wagon R LXI CNG
2,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,Honda,Jazz V
4,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,Maruti,Ertiga VDI
5,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,Audi,A4 New 2.0 TDI Multitronic
6,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,Hyundai,EON LPG Era Plus Option
7,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,Nissan,Micra Diesel XV
8,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,Toyota,Innova Crysta 2.8 GX AT 8S
9,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,Volkswagen,Vento Diesel Comfortline
10,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,Tata,Indica Vista Quadrajet LS
11,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,Maruti,Ciaz Zeta
12,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,Honda,City 1.5 V AT Sunroof
13,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,Maruti,Swift VDI BSIV
14,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,Land,Rover Range Rover 2.2L Pure
15,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,Land,Rover Freelander 2 TD4 SE
16,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,Mitsubishi,Pajero Sport 4X4
17,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,Honda,Amaze S i-Dtech
18,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,Maruti,Swift DDiS VDI
19,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,Renault,Duster 85PS Diesel RxL Plus
20,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,Mercedes-Benz,New C-Class C 220 CDI BE Avantgare
21,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,BMW,3 Series 320d
22,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,Maruti,S Cross DDiS 200 Alpha
23,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,Audi,A6 2011-2015 35 TFSI Technology
24,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,Hyundai,i20 1.2 Magna
25,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,Volkswagen,Vento Petrol Highline AT
26,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,Honda,City Corporate Edition
27,Hyderabad,2012,54000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,Nissan,Micra Diesel XV
28,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,Maruti,Alto K10 2010-2014 VXI
29,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,Honda,WRV i-VTEC VX
30,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,Toyota,Innova 2.5 V Diesel 7-seater
...,...,...,...,...,...,...,...,...,...,...,...,...
7224,Kochi,2011,99120,Diesel,Manual,First,11.5 kmpl,1991 CC,147.9 bhp,7.0,Chevrolet,Captiva LT
7225,Chennai,2016,36000,Petrol,Manual,First,19.83 kmpl,1198 CC,67 bhp,5.0,Datsun,GO T Petrol
7226,Delhi,2010,40000,Petrol,Manual,First,13.1 kmpl,1798 CC,157.8 bhp,5.0,Skoda,Superb Petrol Ambition
7227,Ahmedabad,2014,41000,Petrol,Manual,First,0.0 kmpl,1086 CC,62 bhp,5.0,Hyundai,Santro Xing GL
7228,Chennai,2007,160000,Diesel,Manual,Second,19.2 kmpl,1461 CC,65 bhp,5.0,Mahindra,Renault Logan 1.5 DLE Diesel
7229,Pune,2016,41413,Diesel,Manual,First,27.28 kmpl,1047 CC,69 bhp,5.0,Tata,Tiago 1.05 Revotorq XT Option
7230,Mumbai,2011,67500,Petrol,Automatic,Second,14.4 kmpl,1598 CC,103.6 bhp,5.0,Volkswagen,Vento Petrol Highline AT
7231,Pune,2014,30315,Petrol,Manual,First,18.6 kmpl,1197 CC,81.83 bhp,5.0,Hyundai,i20 1.2 Spotz
7232,Kochi,2017,39015,Petrol,Manual,First,17.0 kmpl,1497 CC,121.36 bhp,5.0,Ford,EcoSport 1.5 Petrol Ambiente
7233,Mumbai,2018,6000,Petrol,Manual,First,16.0 kmpl,1368 CC,160 bhp,5.0,Jeep,Compass 1.4 Sport
7234,Bangalore,2014,21143,Diesel,Automatic,First,16.55 kmpl,1968 CC,147.51 bhp,5.0,Audi,A4 2.0 TDI
7235,Kochi,2013,42203,Petrol,Manual,First,17.1 kmpl,1591 CC,121.3 bhp,5.0,Hyundai,Verna 1.6 SX VTVT (O)
7236,Kochi,2017,21380,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,Maruti,Vitara Brezza ZDi
7237,Kochi,2018,23955,Petrol,Manual,First,18.6 kmpl,1197 CC,81.86 bhp,5.0,Hyundai,Elite i20 Magna Plus
7238,Kolkata,2013,38568,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,Honda,Amaze S i-Dtech
7239,Hyderabad,2011,64000,Diesel,Automatic,First,16.55 kmpl,1968 CC,147.51 bhp,5.0,Audi,A4 2.0 TDI
7240,Hyderabad,2014,57000,Petrol,Automatic,First,15.5 kmpl,1198 CC,86.7 bhp,5.0,Honda,Amaze VX AT i-Vtech
7241,Coimbatore,2017,44556,Diesel,Manual,First,27.3 kmpl,1498 CC,98.6 bhp,5.0,Honda,Jazz 1.5 V i DTEC
7242,Delhi,2012,80000,Diesel,Automatic,First,16.73 kmpl,2993 CC,218 bhp,5.0,BMW,5 Series 525d Sedan
7243,Kolkata,2015,39000,Petrol,Manual,First,18.9 kmpl,1197 CC,82 bhp,5.0,Hyundai,Grand i10 Asta Option
7244,Chennai,2015,70000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,5.0,Renault,Duster 85PS Diesel RxL
7245,Pune,2009,45463,Petrol,Manual,First,14.49 kmpl,1399 CC,92.7 bhp,5.0,Chevrolet,Aveo 1.4 LS
7246,Kochi,2015,44776,Petrol,Manual,First,18.0 kmpl,1198 CC,86.7 bhp,5.0,Honda,Amaze S i-Vtech
7247,Coimbatore,2016,18242,Petrol,Automatic,First,18.9 kmpl,1197 CC,82 bhp,5.0,Hyundai,Grand i10 AT Asta
7248,Coimbatore,2015,21190,Petrol,Manual,First,21.1 kmpl,814 CC,55.2 bhp,5.0,Hyundai,EON D Lite Plus
7249,Hyderabad,2011,89411,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,Volkswagen,Vento Diesel Trendline
7250,Mumbai,2015,59000,Petrol,Automatic,First,17.21 kmpl,1197 CC,103.6 bhp,5.0,Volkswagen,Polo GT TSI
7251,Kolkata,2012,28000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,Nissan,Micra Diesel XV
7252,Pune,2013,52262,Petrol,Automatic,Third,17.2 kmpl,1197 CC,103.6 bhp,5.0,Volkswagen,Polo GT TSI
7253,Kochi,2014,72443,Diesel,Automatic,First,10.0 kmpl,2148 CC,170 bhp,5.0,Mercedes-Benz,E-Class 2009-2013 E 220 CDI Avantgarde

In [129]:
#removing suffix
   

# new data frame with split value columns 
new = data["Mileage"].str.split(" ", n = 0, expand = True) 
new1 = data['Engine'].str.split(" ",n=0,expand=True)
new2 = data['Power'].str.split(" ",n=0,expand=True)
# making separate first name column from new data frame 
data["Mileage"]= new[0]  
data['Engine']=new1[0]
data['Power']=new2[0]
  
# df display 
data.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Brand_Name,Model_name
1,Mumbai,2010,72000,CNG,Manual,First,26.6,998,58.16,5.0,Maruti,Wagon R LXI CNG
2,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.2,5.0,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,2011,46000,Petrol,Manual,First,18.2,1199,88.7,5.0,Honda,Jazz V
4,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,Maruti,Ertiga VDI
5,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2,1968,140.8,5.0,Audi,A4 New 2.0 TDI Multitronic

In [130]:
data.isnull().sum()

Location               0
Year                   0
Kilometers_Driven      0
Fuel_Type              0
Transmission           0
Owner_Type             0
Mileage                2
Engine                46
Power                175
Seats                 53
Brand_Name             0
Model_name             0
dtype: int64

In [131]:
#above three feature has converted into strings to will have convert them back into float

In [132]:
data["Mileage"]=data["Mileage"].astype(float)
data["Engine"]=data["Engine"].astype(float)
data["Power"]=data["Power"].astype(float)

# MIssing value treatment

In [134]:
data['Mileage'].mean()

18.14158047165911

In [135]:
int(data['Engine'].mean())

1616

In [136]:


int(data['Seats'].mean())

5

In [137]:
data['Power'].mean()

112.76521404351419

In [138]:
data['Power'].fillna(data['Power'].mean(),inplace=True)
data['Engine'].fillna(int(data['Engine'].mean()),inplace=True)
data['Mileage'].fillna(data['Mileage'].mean(),inplace=True)
data['Seats'].fillna(int(data['Seats'].mean()),inplace=True)

In [139]:
data.isnull().sum()

Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Brand_Name           0
Model_name           0
dtype: int64

In [140]:
data.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Brand_Name,Model_name
1,Mumbai,2010,72000,CNG,Manual,First,26.60,998.0,58.16,5.0,Maruti,Wagon R LXI CNG
2,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,2011,46000,Petrol,Manual,First,18.20,1199.0,88.70,5.0,Honda,Jazz V
4,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,Maruti,Ertiga VDI
5,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,Audi,A4 New 2.0 TDI Multitronic

In [141]:
data['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [142]:
#Owner type is in categorical form but it should be in order


data['Owner_Type'] = data['Owner_Type'].astype('category',categories=['Fourth & Above','Third','Second','First'],ordered=True).cat.codes

In [143]:
data['Owner_Type'].unique()

array([3, 2, 0, 1], dtype=int64)

In [144]:
data.head()

,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Brand_Name,Model_name
1,Mumbai,2010,72000,CNG,Manual,3,26.60,998.0,58.16,5.0,Maruti,Wagon R LXI CNG
2,Pune,2015,41000,Diesel,Manual,3,19.67,1582.0,126.20,5.0,Hyundai,Creta 1.6 CRDi SX Option
3,Chennai,2011,46000,Petrol,Manual,3,18.20,1199.0,88.70,5.0,Honda,Jazz V
4,Chennai,2012,87000,Diesel,Manual,3,20.77,1248.0,88.76,7.0,Maruti,Ertiga VDI
5,Coimbatore,2013,40670,Diesel,Automatic,2,15.20,1968.0,140.80,5.0,Audi,A4 New 2.0 TDI Multitronic

In [145]:
# year is in continuous form but it should be in categorical
data["Year"]=data["Year"].astype(str)

In [146]:
data['Year'].mean()

inf

In [147]:
#list of categorical features
d=list(data.loc[:,data.dtypes=='object'].columns.values)

In [148]:
d

['Location', 'Year', 'Fuel_Type', 'Transmission', 'Brand_Name', 'Model_name']

In [102]:
print(data['Kilometers_Driven'].max(),data['Kilometers_Driven'].min())

6500000 171

In [149]:
data_test.shape,data_train.shape

((1234, 12), (6019, 13))

In [150]:
len(data_train)

6019

In [152]:
data1=pd.get_dummies(data,columns=['Brand_Name','Model_name','Location','Year','Fuel_Type','Transmission'],drop_first=True)

In [153]:
data1.shape

(7253, 2115)

In [157]:
data_train

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,Manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,NaN,2.35
6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
7,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36 kmpl,2755 CC,171.5 bhp,8.0,21 Lakh,17.50
8,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54 kmpl,1598 CC,103.6 bhp,5.0,NaN,5.20
9,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.3 kmpl,1248 CC,74 bhp,5.0,NaN,1.95
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56 kmpl,1462 CC,103.25 bhp,5.0,10.65 Lakh,9.95
11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.49
12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.2 kmpl,1248 CC,74 bhp,5.0,NaN,5.60
13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.7 kmpl,2179 CC,187.7 bhp,5.0,NaN,27.00
14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0 kmpl,2179 CC,115 bhp,5.0,NaN,17.50
15,Mitsubishi Pajero Sport 4X4,Delhi,2014,110000,Diesel,Manual,First,13.5 kmpl,2477 CC,175.56 bhp,7.0,32.01 Lakh,15.00
16,Honda Amaze S i-Dtech,Kochi,2016,58950,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,5.40
17,Maruti Swift DDiS VDI,Jaipur,2017,25000,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,NaN,5.99
18,Renault Duster 85PS Diesel RxL Plus,Kochi,2014,77469,Diesel,Manual,First,20.45 kmpl,1461 CC,83.8 bhp,5.0,NaN,6.34
19,Mercedes-Benz New C-Class C 220 CDI BE Avantgare,Bangalore,2014,78500,Diesel,Automatic,First,14.84 kmpl,2143 CC,167.62 bhp,5.0,NaN,28.00
20,BMW 3 Series 320d,Kochi,2014,32982,Diesel,Automatic,First,22.69 kmpl,1995 CC,190 bhp,5.0,47.87 Lakh,18.55
21,Maruti S Cross DDiS 200 Alpha,Bangalore,2015,55392,Diesel,Manual,Second,23.65 kmpl,1248 CC,88.5 bhp,5.0,NaN,8.25
22,Audi A6 2011-2015 35 TFSI Technology,Mumbai,2015,55985,Petrol,Automatic,First,13.53 kmpl,1984 CC,177.01 bhp,5.0,NaN,23.50
23,Hyundai i20 1.2 Magna,Kolkata,2010,45807,Petrol,Manual,First,18.5 kmpl,1197 CC,80 bhp,5.0,NaN,1.87
24,Volkswagen Vento Petrol Highline AT,Kolkata,2010,33000,Petrol,Automatic,First,14.4 kmpl,1598 CC,103.6 bhp,5.0,NaN,2.85
25,Honda City Corporate Edition,Mumbai,2012,51920,Petrol,Manual,First,16.8 kmpl,1497 CC,116.3 bhp,5.0,NaN,4.25
26,Nissan Micra Diesel XV,Hyderabad,2012,54000,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,4.25
27,Maruti Alto K10 2010-2014 VXI,Hyderabad,2013,54000,Petrol,Manual,Second,20.92 kmpl,998 CC,67.1 bhp,5.0,NaN,2.75
28,Honda WRV i-VTEC VX,Kochi,2018,37430,Petrol,Manual,First,17.5 kmpl,1199 CC,88.7 bhp,5.0,10.57 Lakh,9.90
29,Toyota Innova 2.5 V Diesel 7-seater,Mumbai,2007,262000,Diesel,Manual,Fourth & Above,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,4.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,Audi A4 35 TDI Premium Plus,Coimbatore,2013,58629,Diesel,Automatic,Second,18.25 kmpl,1968 CC,187.74 bhp,5.0,53.14 Lakh,16.52
5990,Tata New Safari DICOR 2.2 VX 4x2,Pune,2008,86000,Diesel,Manual,Third,13.93 kmpl,2179 CC,138 bhp,7.0,NaN,0.60
5991,Maruti Swift VDI,Hyderabad,2012,68238,Diesel,Manual,First,22.9 kmpl,1248 CC,74 bhp,5.0,NaN,4.80
5992,Skoda Superb Elegance 1.8 TSI AT,Mumbai,2011,42036,Petrol,Automatic,First,13.7 kmpl,1798 CC,157.75 bhp,5.0,NaN,6.25
5993,Hyundai Elantra SX,Mumbai,2014,55619,Petrol,Manual,First,16.3 kmpl,1797 CC,147.5 bhp,5.0,NaN,8.30
5994,Honda City 1.5 E MT,Pune,2009,60000,Petrol,Manual,Third,17.0 kmpl,1497 CC,118 bhp,5.0,NaN,3.25
5995,Renault Duster 85PS Diesel RxL Explore,Pune,2015,30000,Diesel,Manual,First,19.87 kmpl,1461 CC,83.8 bhp,5.0,NaN,7.75
5996,Jaguar XF 2.2 Litre Luxury,Kochi,2016,31150,Diesel,Automatic,First,16.36 kmpl,2179 CC,187.7 bhp,5.0,NaN,30.54
5997,Maruti Wagon R Duo Lxi,Jaipur,2010,70000,LPG,Manual,First,26.2 km/kg,998 CC,58.2 bhp,5.0,NaN,2.27
5998,Volkswagen Polo IPL II 1.2 Petrol Highline,Pune,2010,70290,Petrol,Manual,Second,17.24 kmpl,1198 CC,73.9 bhp,5.0,NaN,2.96
5999,Tata Bolt Revotron XT,Chennai,2016,10000,Petrol,Manual,First,17.57 kmpl,1193 CC,88.7 bhp,5.0,7.77 Lakh,4.00
6000,Hyundai i20 Sportz 1.2,Bangalore,2014,68010,Petrol,Manual,Second,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN,5.25
6001,Audi A6 2011-2015 2.0 TDI,Kochi,2013,91903,Diesel,Automatic,First,17.68 kmpl,1968 CC,174.33 bhp,5.0,NaN,17.56
6002,Volkswagen Vento 1.6 Highline,Mumbai,2011,38000,Petrol,Manual,First,16.09 kmpl,1598 CC,103.5 bhp,5.0,11.91 Lakh,3.25
6003,Maruti Celerio VXI,Bangalore,2015,67600,Petrol,Manual,First,23.1 kmpl,998 CC,67.04 bhp,5.0,NaN,4.00
6004,Hyundai Getz GLE,Coimbatore,2007,66800,Petrol,Manual,First,15.3 kmpl,1341 CC,83 bhp,5.0,NaN,2.20
6005,Maruti Vitara Brezza VDi,Pune,2016,37208,Diesel,Manual,First,24.3 kmpl,1248 CC,88.5 bhp,5.0,9.93 Lakh,7.43
6006,Mercedes-Benz M-Class ML 320 CDI,Mumbai,2009,102002,Diesel,Automatic,First,8.7 kmpl,2987 CC,224.34 bhp,5.0,NaN,10.75
6007,Maruti Swift Dzire Vdi BSIV,Delhi,2011,68000,Diesel,Manual,First,19.3 kmpl,1248 CC,73.9 bhp,5.0,NaN,2.75
6008,Porsche Panamera Diesel,Hyderabad,2013,40000,Diesel,Automatic,Second,17.85 kmpl,2967 CC,300 bhp,4.0,NaN,45.00
6009,Toyota Camry Hybrid,Mumbai,2015,33500,Petrol,Automatic,First,19.16 kmpl,2494 CC,158.2 bhp,5.0,NaN,19.75
6010,Honda Brio 1.2 VX MT,Delhi,2013,33746,Petrol,Manual,First,18.5 kmpl,1198 CC,86.8 bhp,5.0,6.63 Lakh,3.20
6011,Skoda Superb 3.6 V6 FSI,Hyderabad,2009,53000,Petrol,Automatic,First,0.0 kmpl,3597 CC,262.6 bhp,5.0,NaN,4.75
6012,Toyota Innova 2.5 V Diesel 7-seater,Coimbatore,2011,45004,Diesel,Manual,First,12.8 kmpl,2494 CC,102 bhp,7.0,NaN,9.48
6013,Honda Amaze VX i-DTEC,Coimbatore,2015,70602,Diesel,Manual,First,25.8 kmpl,1498 CC,98.6 bhp,5.0,NaN,4.83
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [155]:
data1=data1.drop(['Engine','Kilometers_Driven','Mileage','Owner_Type'],axis=1)

In [168]:
X_train = data1[:len(data_train)]
y_train = data_train.iloc[:,-1]
X_test=data1[len(data_train):]

# Model Training

In [179]:

from sklearn.ensemble import RandomForestRegressor
a=RandomForestRegressor(n_estimators=50)
a.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=50,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [182]:
y_pred=a.predict(X_test).round(2)

In [183]:
for i in y_pred:
    print(i)

3.12
3.89
16.99
2.98
4.31
13.36
21.23
2.08
3.79
11.07
17.28
4.34
2.48
4.82
5.38
16.4
30.3
2.28
7.46
4.44
4.21
2.52
3.51
2.31
5.11
1.43
1.15
6.46
6.83
2.99
4.97
4.79
2.31
10.2
3.96
4.89
8.96
10.32
5.49
17.81
7.35
18.2
18.98
9.25
8.3
7.86
5.77
19.23
11.94
18.87
3.85
5.95
5.51
21.97
5.8
7.89
8.98
6.08
2.21
2.49
3.71
5.88
4.71
5.58
4.07
4.51
4.5
9.43
1.5
3.81
5.61
2.47
5.98
5.68
1.55
1.82
3.39
8.03
5.13
6.82
23.75
23.7
10.75
6.03
5.7
14.64
4.78
1.9
2.51
6.62
2.97
11.34
3.29
6.19
1.37
7.19
5.06
3.75
2.09
5.81
3.45
1.38
31.14
4.33
2.9
2.29
12.67
5.93
6.34
6.37
20.27
3.71
34.56
6.14
3.92
12.87
6.37
17.99
4.21
7.24
8.68
7.07
2.98
24.65
2.01
27.41
29.54
26.4
5.8
5.56
6.45
3.4
5.14
1.66
4.36
2.82
37.88
3.88
6.24
4.59
9.14
3.04
4.37
2.34
5.95
3.42
14.63
2.79
2.32
9.28
3.6
1.82
7.09
28.91
6.42
4.28
1.95
31.91
24.11
6.64
4.83
9.14
5.92
11.69
5.96
47.76
2.19
12.62
6.99
28.53
3.03
3.43
6.33
3.0
3.62
1.23
3.85
5.08
3.7
34.2
4.32
6.17
2.71
21.13
2.42
35.86
1.41
3.41
3.36
18.21
18.46
1.32
1.11
61.78
3.59
3.31
2.21
2.85
5.57
4.44
5.05
8.5
29.1
19.27
40.21
3.81
39.39
1.72
3.14
4.35
24.22
1.84
6.88
5.3
3.49
6.09
12.52
3.28
4.12
6.06
6.24
3.39
10.25
2.99
25.53
1.75
6.99
3.08
5.11
6.28
10.58
6.98
4.0
25.53
9.93
9.35
9.66
7.66
3.49
2.3
7.62
1.69
6.85
3.04
4.47
5.68
6.34
2.02
4.29
5.9
3.23
5.39
2.32
25.63
6.71
4.79
10.56
2.08
2.05
3.93
52.16
1.47
1.25
4.47
5.36
7.64
25.56
2.17
11.3
3.77
2.89
6.42
3.28
8.45
18.22
11.1
5.33
11.36
1.25
3.58
8.18
24.84
17.47
5.25
5.99
9.56
4.95
3.79
3.13
51.88
3.57
5.45
5.6
42.46
4.74
3.88
2.26
25.43
38.44
1.86
2.19
15.13
3.78
9.32
3.13
2.55
11.72
3.66
8.89
13.26
15.57
4.74
5.8
18.58
6.94
3.08
3.56
5.97
10.77
13.86
6.25
5.96
3.91
4.02
3.17
11.43
3.18
4.27
4.29
4.08
2.22
1.96
10.4
5.34
4.68
41.6
3.29
2.55
2.82
14.11
3.1
3.9
4.37
4.02
4.93
5.08
4.61
3.36
25.69
12.72
2.67
7.83
5.31
2.73
4.08
4.39
3.01
14.31
27.0
31.65
7.08
3.29
7.47
8.21
8.3
27.78
12.31
3.81
2.73
39.05
2.43
33.03
2.37
6.71
5.48
3.55
17.18
30.67
6.42
3.2
18.05
7.75
6.64
3.83
3.02
4.86
12.47
4.54
5.84
1.79
5.87
4.6
2.25
6.36
19.16
1.25
3.42
5.12
19.26
12.38
3.59
6.15
4.33
5.89
5.85
7.08
7.93
34.36
2.95
3.59
6.17
13.33
11.76
11.93
4.76
42.75
8.18
5.11
5.75
2.73
3.19
4.54
1.13
9.61
4.53
1.9
6.79
35.89
4.62
3.6
28.91
5.41
4.32
7.65
8.26
1.21
6.97
3.97
29.21
14.65
6.19
1.74
12.16
3.38
31.93
4.81
5.09
11.34
1.84
5.96
9.92
15.17
36.81
8.21
12.6
7.97
3.75
3.3
3.84
5.39
11.5
5.43
9.36
24.81
4.87
1.93
6.5
10.59
10.55
5.47
12.51
36.18
48.0
3.39
7.03
3.14
10.76
3.06
3.83
3.05
19.47
1.24
5.22
22.37
2.76
3.22
4.11
1.86
3.71
3.52
4.18
1.52
9.97
4.4
19.99
5.37
15.54
1.68
7.04
3.41
2.28
4.21
3.73
3.24
6.12
1.99
2.98
28.87
1.26
4.54
8.48
4.08
11.7
5.87
9.15
2.21
4.62
3.85
3.57
3.57
1.6
5.35
3.64
6.57
2.86
4.18
3.98
4.36
6.5
11.31
5.02
3.85
4.59
3.08
5.93
9.76
3.74
3.82
7.2
10.55
3.92
3.74
5.58
5.11
3.2
7.12
5.15
9.29
25.73
7.67
24.92
4.15
3.48
11.59
2.71
2.27
8.06
0.89
2.38
8.32
20.05
5.07
8.18
3.05
6.07
5.95
2.4
27.69
6.75
2.9
6.76
3.22
2.94
25.84
5.33
3.58
3.27
18.98
5.82
7.12
7.11
6.06
5.93
5.91
2.85
3.9
6.09
3.27
3.01
17.76
3.06
15.67
1.99
4.8
4.91
3.21
3.74
4.69
20.71
10.7
47.96
31.14
39.53
15.14
27.55
9.51
4.99
3.37
3.52
5.41
6.13
5.77
17.85
28.78
6.47
5.4
2.19
5.96
20.72
32.72
39.39
3.6
6.18
3.67
14.67
8.62
2.4
2.51
21.59
3.26
3.41
17.61
5.05
19.2
13.86
13.3
16.91
6.25
10.89
2.98
21.71
3.05
22.79
4.93
17.55
42.7
10.13
5.91
5.38
8.79
3.48
3.8
6.6
1.99
2.17
25.84
4.35
4.45
2.23
3.28
6.62
9.38
17.7
9.01
9.73
1.95
2.45
11.73
5.04
12.01
3.34
3.36
6.25
3.77
24.96
19.93
4.02
2.29
1.39
21.59
5.19
10.62
6.66
3.85
35.32
29.05
1.84
4.54
2.53
3.77
4.33
2.24
4.04
5.44
1.67
6.05
8.44
1.42
28.97
32.13
5.81
2.92
2.61
2.78
2.88
4.81
6.05
6.61
5.92
17.64
5.78
3.86
5.76
6.92
10.28
6.55
9.04
4.98
1.65
6.06
6.54
39.0
4.94
19.93
7.83
6.29
4.94
1.52
2.52
3.85
4.52
9.32
11.9
9.45
0.62
4.71
4.56
4.81
32.28
7.57
1.91
10.36
5.17
4.1
2.66
5.16
1.57
7.99
3.43
2.34
13.3
4.94
4.62
6.94
3.81
1.11
6.36
2.33
1.54
22.4
24.13
5.89
4.7
3.93
2.99
6.06
2.85
3.85
3.52
3.39
5.44
17.1
4.89
10.69
3.9
9.44
21.53
11.39
6.46
34.8
5.0
3.17
14.64
3.47
1.27
3.56
4.15
4.85
3.92
5.11
11.97
9.21
9.06
2.9
10.58
6.76
8.49
6.0
3.46
5.67
3.15
2.76
13.22
4.13
1.85
45.61
1.52
3.34
13.07
4.23
16.27
3.53
3.01
31.11
16.38
17.94
4.56
3.3
6.56
1.64
3.46
3.91
3.86
51.52
22.02
5.26
5.58
49.75
3.76
6.18
3.28
4.82
9.95
26.33
4.76
3.25
8.37
5.28
18.57
6.13
20.29
3.06
4.83
7.4
19.66
2.52
2.28
4.89
6.23
3.4
35.4
3.56
5.71
2.33
6.92
2.67
3.56
6.22
6.44
3.14
3.64
14.24
3.27
29.41
6.15
6.39
3.9
3.66
6.66
29.6
7.86
8.53
4.14
9.02
4.97
3.4
4.15
4.01
2.01
9.34
10.94
3.8
5.59
3.03
5.14
5.95
12.06
16.52
7.99
23.71
4.88
11.41
7.31
5.87
1.44
4.23
3.23
3.85
4.61
2.09
9.38
9.25
4.1
5.13
7.31
18.58
13.02
4.73
3.17
2.08
5.39
2.38
5.47
6.15
3.13
1.82
2.88
6.05
3.88
1.09
3.45
7.09
6.9
13.21
11.48
1.55
5.62
2.93
2.92
3.63
6.48
5.9
16.35
6.44
3.29
12.26
8.62
8.39
8.55
2.07
6.34
62.69
9.25
16.56
4.0
59.89
4.6
10.55
4.39
3.03
3.0
5.04
7.03
5.65
3.48
5.92
20.95
12.2
10.68
4.56
5.82
5.95
8.63
7.16
2.43
5.67
2.68
10.56
4.63
4.92
10.01
4.15
2.83
6.02
5.99
58.43
4.4
4.14
12.36
10.54
6.98
14.72
5.63
20.38
4.52
10.36
3.58
8.37
10.19
3.98
4.91
6.11
17.38
6.92
5.71
6.21
6.57
21.59
3.89
4.7
8.35
34.6
5.26
4.08
25.11
2.78
4.79
3.82
3.1
10.43
3.31
24.84
13.51
1.79
3.48
4.64
2.66
2.29
8.12
2.93
12.93
8.46
5.53
7.73
11.56
3.66
5.4
5.95
2.83
2.51
2.17
6.87
8.71
13.36
5.03
3.27
3.63
4.26
37.44
3.75
3.15
3.91
7.09
12.83
3.62
3.04
10.95
10.48
1.03
17.01
10.58
8.62
2.57
19.16
4.13
12.99
36.05
7.77
7.51
6.9
4.74
9.07
3.07
3.69
8.41
7.73
5.82
8.62
5.31
13.4
13.31
5.97
2.23
3.24
6.53
50.39
5.17
4.81
4.84
5.02
5.52
18.07
2.25
0.95
2.7
2.3
8.54
4.8
2.82
17.57
12.38
3.91
4.53
8.28
4.2
25.05
8.96
11.73
35.28
4.0
8.98
13.92
2.91
15.19
5.24
18.01
1.86
17.66
3.2
5.72
6.84
4.17
6.12
32.56
16.25
2.44
2.08
1.66
1.13
2.22
2.51
5.23
7.51
3.02
11.5
10.28
2.87
9.36
3.18
2.83
2.94
10.53
15.58
4.16
15.16
5.9
20.94
27.69
34.36
14.18
4.6
22.56
27.99
2.55
4.35
13.58
1.97
6.46
5.48
20.11
6.06
31.79
2.8
22.51
8.75
1.17
11.0
34.11
6.4
4.22
4.79
11.67
2.33
1.64
3.9
12.01
5.45
1.28
7.09
3.43
2.19
17.18
4.86
4.54
1.39
3.38
1.95
2.16
2.47
41.6
7.28
4.09
5.43
4.51
5.48
13.19
26.62
11.83
6.09
3.63
29.6
8.73
2.28
6.84
3.08
7.63
21.59
47.71
11.72
9.8
3.34
8.32
11.29
4.0
5.22
2.95
5.23
2.93
2.26
2.41
3.34
4.27
8.23
12.43
20.11
5.22
9.11
6.09
3.37
16.49
5.24
8.18
18.05
4.25
6.65
2.09
5.16
6.24
3.57
3.94
6.71
2.88
4.88
18.81